vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jan 2023 14:14:20 -0000
vti_extenderversion:SR|12.0.0.6500
vti_author:SR|何武弃-PC\\何武弃
vti_modifiedby:SR|H57-PC\\何武弃
vti_timecreated:TR|16 Nov 2022 03:46:36 -0000
vti_backlinkinfo:VX|Mobile.html link/links.html Space/me.htm blog/2023/1-23/1-23.html blog/indexes.htm neirong.htm Space/login/login2.htm Space/login/login1.htm blog/2022/11-15/11-15.htm blog/0.htm
vti_nexttolasttimemodified:TW|23 Jan 2023 14:13:37 -0000
vti_cacheddtm:TX|23 Jan 2023 14:14:20 -0000
vti_filesize:IR|719
vti_cachedlinkinfo:VX|S|../fonts/SmileySans-Oblique.ttf
vti_cachedsvcrellinks:VX|FSUS|fonts/SmileySans-Oblique.ttf
